[2016-12-06 03:38] mrose17 opened #1 "the README "switches" between ecobee and bluetooth"
i contacted ecobee a few months ago about fixing their homekit implementation to show the sensors as seperate accessories, but they've yet to push an update. so, this plugin is a great idea.

however: the README file mentions bluetooth/arduino in a few places, which leads me to suspect that there was a cut-and-paste that wasn't entirely reviewed!

best,

/mtr

[2016-12-06 03:57] vojtamolda commented on #1
Hello @mrose17,

Thanks for opening the first issue here. The readme isn't finished yet... I apologize for the typos and mistakes. I plan to fix it soon-ish. You know how it is with OS projects - documentation is the source code 😉

You're right, the first `readme.md` was indeed a copy & paste from my other [Homebridge plugin](/vojtamolda/homebridge-bluetooth/) so that's where bluetooth and arduino

[2016-12-06 04:13] mrose17 commented on #1
thanks for the speedy reply.

no worries on the typos/etc. ... it's a new project

it hadn't occurred to me that the issue may be hardware (if ecobee integrated the wrong MFi program). if so, that must be very painful.

in terms of making the plugin "more public", you've done the best thing which is to include the `homebridge-plugin` keyword. there is a slack community at https://homebridge-slacki

[2016-12-06 04:17] mrose17 opened #2 "Add .gitignore and .npmignore files"
...so other developers won't see `node_modules/*`files as changes!

[2016-12-06 04:35] vojtamolda commented on #2
Fixed in e0e2117b1ed231351a27630621c40c3f551d3d63. I've excluded the `/images/` directory from _npm_ as it makes the package quite large because of the screenshots that are not used in the actual code.

[2016-12-06 04:36] vojtamolda commented on #1
Thanks for the _Slack_ link. I'll go check it out.

[2016-12-06 04:40] #2 closed, assigned to vojtamolda

[2016-12-06 04:48] vojtamolda opened #3 "Create marketing and PR for this repo"
Post a link with some screenshots and try to attract users, testers & possibly contributors from [this Slack channel](https://homebridge-slackin.herokuapp.com/)

[2016-12-06 04:49] vojtamolda commented on #3
Post the link also [here](https://github.com/nfarina/homebridge/issues/452).

[2016-12-06 04:50] mrose17 commented on #2
i would not exclude the `images/` directory... if the `readme.md` files references them (and it should!)

[2016-12-06 04:55] vojtamolda commented on #2
It's excluded only from the _npm_ package. Do you think someone reads the raw `readme.md` and views the images in the `node_modules/` directory?

I think that people use either _github_ or the [_npm_ package page](https://www.npmjs.com/package/homebridge-ecobee3-sensors) to read the documentation since it's nicely formatted and "clickable" HTML.

[2016-12-06 04:56] mrose17 commented on #2
in truth, i think that some people do actually that; however, no harm in excluding it and see if you get feedback that confirms my thinking...

[2016-12-06 05:03] vojtamolda commented on #2
Okay. Thanks for your feedback. I'm new to the whole _npm_ ecosystem, so I might be easily wrong. I'll be happy to fix it later, but for now I prefer small package over complete documentation. The repo contains 6 MB of images and 15 kB of code.

[2016-12-06 05:03] mrose17 commented on #2
+1

[2016-12-06 17:24] #1 closed, assigned to vojtamolda

[2016-12-06 17:33] vojtamolda opened #5 "Request read-only access to Ecobee API"
Currently, the plugin asks for full read-write access (`scope=smartWrite`) during the Ecobee API authorization process. I don't think this is necessary since we never issue any POST request that would change anything on the thermostat. I think some people may not be willing to grant the write access It's easy to imagine Terminator-like scenario where some crazy piece of software is literally messi

[2016-12-07 14:42] vojtamolda opened #7 "HomeKit functionality for early Ecobee 3 or SmartSi without official HomeKit support"
## If you have an early _Ecobee3_ or _SmartSi_ and want to have unofficial HomeKit support, upvote :+1: this comment.

If your thermostat has the following logo on the box, then it's already HomeKit enabled and you don't need to read any further. [Here](https://ecobee.zendesk.com/hc/en-us/articles/227878287-How-do-I-know-if-my-ecobee3-is-HomeKit-enabled-) is a way to check if you don't have the bo

[2016-12-07 14:45] vojtamolda commented on #7
Earlier versions of the _Ecobee3_ thermostat were released without HomeKit support. This plugin has a lot of the authorization infrastructure needed to provide unofficial HomeKit functionality to these earlier versions, but some development is still needed to achieve this.

Given enough demand for this issue I'm willing to invest a weekend and work on it just for fun. Thermostats typically last a

[2016-12-07 14:58] vojtamolda commented on #7
HomeKit (luckily) exposes a relatively limited subset of _Ecobee3_ functions, so there's no need to implement all of the bells and whistles that the official _Ecobee_ API provides. To get it working one needs to create a new accessory that implements a [`Service.Thermostat`](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js#L2799), which consists of 5 mandatory characteristi

[2016-12-07 15:51] vojtamolda commented on #5
Development of #7 will require some logic to switch back to `scope=smartWrite` when authenticating, since setting the target temperature or HVAC mode obviously needs write access.

[2016-12-07 15:51] #5 closed, assigned to vojtamolda

[2016-12-07 19:21] AppleTechy commented on #7
:+1

[2016-12-07 21:58] vojtamolda commented on #3
Also comment on reddit [here](https://www.reddit.com/r/HomeKit/comments/5dej8h/home_app_and_ecobee_3_sensors/) and [here](https://www.reddit.com/r/ecobee/comments/5gvyxc/ecobee_remote_sensors_and_siri/).

Someone already did it [here](https://www.reddit.com/r/HomeKit/comments/5g4hge/ecobee_sensor_as_a_homekit_enabled_sensor/) :smiley:

[2016-12-08 20:19] #3 closed, assigned to vojtamolda

[2016-12-09 00:35] johnschult opened #8 "Add config.json sample to docs"
After successfully adding the app on ecobee.com, the following is logged and Homebridge restarts:

[code]

[2016-12-09 00:37] johnschult commented on #8
My bad, I did not add the config...  you might want to add that to the README.

[2016-12-09 01:00] johnschult opened #9 "Failure when adding accessories"
I have cleaned out `persist`, changed `username` and removed my Homebridge accessory from Home and restarted `homebridge`. When I try to add the accessory again Home says "Couldn't add Homebridge" and I get the following in the log:

[code]

[2016-12-09 14:01] vojtamolda commented on #8
Hello John,

Thanks for providing feedback on your experience while using the plugin. Please, bear with me, the plugin was released last week, so there are still some rough edges here and there.

If you don't mind, I'll re-open this issue. I think it's actually a good idea to add a sample of the configuration to the `readme.md`. I would just add the `platforms` section. I don't think it would be g

[2016-12-09 14:45] vojtamolda commented on #9
Hi @johnschult,

Thanks for opening the issue and posting the log right away. It helped me to quickly zoom on what is going on. Bad news is that this is a tricky problem. It happened to me a couple of times too, and doing what you did - i.e deleting `persist/` and `accessories/` directories in `~/.homebridge/` usually helped me.

Your log shows your `[Bedroom]` added twice, which is very strange.

[2016-12-09 15:08] #8 closed, assigned to vojtamolda

[2016-12-09 15:15] johnschult commented on #9
### Versions

- node `v6.9.2`
- homebridge`0.4.11`
- hap-nodejs `0.4.16`

### Accessories Query Response
[code]

### Log Debug Output
[code]

[2016-12-09 16:01] vojtamolda commented on #9
Thanks for the log. It helped a ton! The problem you're seeing was introduced in commit da0e860. There are two fixes for you at the moment:

- Use the current `0.1.1` version and set `"exclude_thermostat":true` in the `config.json` file. This should bypass the buggy logic described below. Disadvantage is that the Home app won't show the measurements provided by your two thermostats (i.e. humididty

[2016-12-09 16:26] vojtamolda commented on #9
If you feel like it, you can test the fix in the latest version 5299f7c.

[2016-12-09 18:00] johnschult commented on #9
I made the mods locally and can confirm that it all works now 😄 I'll get the update when you publish it. Thanks!

[2016-12-09 18:01] #9 closed, assigned to vojtamolda

[2016-12-09 18:22] douglsmith commented on #9
I tried it and can confirm the fixes worked for me too.

[2016-12-09 19:13] vojtamolda commented on #9
Cool. Thanks for trying it out!

[2016-12-12 06:20] flyingartichoke opened #10 "One-time authorization code?"
Hello - I'm really enjoying this HomeBridge plugin!

There is one thing I am having issues with: having to re-enter a new authorization code every time I restart Homebridge (when I restart my computer, when the terminal crashes, power loss.. etc.).  When I re-launch I get the following message:

`[Ecobee] Token has been deauthorized by user. You must re-request authorization.  Re-requesting author

[2016-12-12 15:30] vojtamolda commented on #10
Hello @flyingartichoke,

thanks for enjoying the plugin and I apologize for your problems with re-authorization. The authorization should indeed persist between sessions and happen only once, so what you're seeing is certainly a bug.

My guess is that you are running _Homebridge_ as a different user from the shell (i.e. your user account) and when it's running as a daemon (i.e root), right? This w

[2016-12-15 04:27] flyingartichoke commented on #10
@vojtamolda - thanks so much for the suggestion!  You were right, I was running the script from my user directory.  I am now running it from the root directory and everything seems to be working correctly (no need to re-authenticate).  Thanks again!

[2016-12-15 04:28] vojtamolda commented on #10
Cool!

[2016-12-15 04:28] #10 closed, assigned to vojtamolda

[2016-12-20 16:30] macjeff opened #11 "Error with sensors when using SmartSi thermostat"
I am getting this error.  I have an Ecobee3 with homekit support but want to get sensor data so using your plugin.

[code]

I used your exact sample code.   I have about 10 sensors which could be an issue but none have a blank name.  Only difference I can see in your examples are that I have a lot more sensors.  Unless I have to I would rather not have to deactivate all of them and try 1 x 1

Also

[2016-12-20 17:23] vojtamolda commented on #11
Hello @macjeff,

Thanks for opening the issue here. It seems really strange and I apologize for the problems you're seeing. Number of sensors shouldn't really matter to the plugin. It can crunch any number of them.

Can you run _Homebridge_ in debug mode and post the log here, please? This will output the HTTP request/responses from the _Ecobee_ server. With these it should be easy to figure out w

[2016-12-20 17:46] macjeff commented on #11
i could give you access to my stuff to take a look but only if we do it under private mail.
When I authenticate if I wait the 30 seconds I get the error.  If I dont wait the 30 seconds and relaunch homebridge it works (does not ask to authenticate) but then I get the error.  So I think the error is "un authenticating"  Here is the output you asked for.

[code]

[2016-12-20 18:11] vojtamolda commented on #11
Thanks for the logs. I think I know what's happening.

You have some other thermostat that's not an _Ecobee 3_ (_Smart Si_?). The plugin is trying to get it's sensors and there are none...

I just have an _Ecobee 3_ so this scenario is hard to test for me. Let me do some tests and get back to you.

[2016-12-20 18:13] macjeff commented on #11
YES.  You are good!!

I ALSO have an Ecobee 2 which does give temp data in the app but not Homekit.

So if we can ignore that it can fix.  If you want to get it working, I could work with you to test.

[2016-12-20 19:17] vojtamolda commented on #11
I've created a temporary fix for you here: [platform.zip](https://github.com/vojtamolda/homebridge-ecobee3-sensors/files/664541/platform.zip). Can you replace your `platform.js` with the fixed one? Based on your logs, you have to overwrite `/usr/local/lib/node_modules/homebridge-ecobee3-sensors/source/platform.js`  and you'll probably need `root` permissions.

Hopefully this should run for you. I'

[2016-12-20 21:04] macjeff commented on #11
I ran it and tried to get back in a second time but now everytime it asks me to re-authenticate.  I did replace the Platform.js and had to change permissions to match the old one.

Its been a long day but I just cant find the strings you are having me look for....

[code]

[2016-12-20 21:26] vojtamolda commented on #11
Oh.. Damn it... Sorry. I did send you a wrong version. That one had equal (`==`) in place of not equal (`!=`). Here's the correct one: [platform.zip](https://github.com/vojtamolda/homebridge-ecobee3-sensors/files/664793/platform.zip).

I'm sorry once more.

PS: Did you run in debug mode like before? `homebridge -D`

[2016-12-20 21:55] macjeff commented on #11
it seems to have worked......I am sending more then you asked for here but this is everything after the 30 second delay.
[code]

[2016-12-20 21:56] macjeff commented on #11
When I run it again without the -D (either way)

It shows a list of all my ecobee devices but then goes back into the waiting to authorize.   Is that normal?

[2016-12-20 21:58] macjeff commented on #11
so what do I ask Alexa now to get the temp or the status (occupancy) of each room?
when I ask temperature in any room it tells me the temperature and weather for my town.....also I noticed all the logs are showing Celcius.  Any way to get Fahrenheit.

[2016-12-21 05:10] vojtamolda commented on #11
I think the de-authorization problems are caused by the earlier crashes. Some old authorization tokens are stored somewhere they shouldn't be. Try to delete your `~/.homebridge/accesories/` and `~/.homebridge/persist/` folders. The authorization should happen only once at the very beginning. Deauthorization is also a frequent side effect when running under a different users. There's more details a

[2016-12-21 05:13] vojtamolda commented on #11
As far as Alexa goes I've got no clue since I don't use it.

You can also use Siri. It's quite simple and there are no special tricks _"What's the temperature in the kitchen?"_ works perfectly for me. Occupation also works i.e. _"Is someone in the kitchen?"_

[2016-12-21 14:03] macjeff commented on #11
Sorry I meant siri.  I was working on two projects.  one with smartthings and alexa and other with homebridge and siri.

Temperature works.  But occupancy says it cant do that or it does not understand.

[2016-12-21 16:00] macjeff commented on #11
by the way.   all of my other plugins work fine with siri.  Seems to be only yours unless I am saying it wrong to siri (but I said your examples)
Also you sent a temp fix.  will you do a long term one?

[2016-12-30 21:51] DaveHamilton opened #12 "Regularly needing re-authorization"
Seems I'll get it working, authorize with Ecobee, and then after a few hours I get the "waiting for user to authorize application" message in the log again, complete with a new authorization code. Is this expected?

[2017-01-03 16:31] mrose17 commented on #12
@DaveHamilton - it's not expected.

@vojtamolda - i see this as well, but only when doing development -- i have no idea why this happens!

[2017-01-04 18:32] senorshaun opened #13 "Move Ecobee developer API key to config file"
I was looking through this project and found you were using your developer api key for these calls. I was wondering if you maybe move that to the config file and have yours by default but easily allow others to change to their own key if they have one

[2017-01-04 18:54] vojtamolda commented on #13
Sounds like a good idea. I didn't realize that other people might want to use their dev account.

Do you want to make a pull-request for it?

[2017-01-04 21:25] senorshaun commented on #13
sure. looks like you have this repo locked down?  I am unable to create pull requests, upload files, create new branches?

[2017-01-04 22:02] vojtamolda commented on #13
Hmm... It shouldn't be locked. Give me a few days, please. I'll check it when I get back home from vacations.

[2017-01-06 07:02] mikeg1130 commented on #12
I am also having this issue. At first, I thought it was only happening after a reboot the raspberrypi it is running on. But now I have had to re-authorize without any reboot occurring.

[2017-01-09 14:27] arkzrlo commented on #12
Having this issue as well. I'm running homebridge as a systemd service as explained here: https://gist.github.com/johannrichard/0ad0de1feb6adb9eb61a/ if that's makes any difference.

[2017-01-12 05:10] apexad opened #15 "Home app reports Ecobee sensors as 'not responding'"
iPhone 6s Plus
iOS 10.2
Homebridge running on an Ubuntu
exclude_thermostat: true

I have an Ecobee3 with just 1 additional sensor. The temperature and occupancy sensor show up fine, and seem to work as expected.

However, the Details section on the first page of the Home app always says '2 accessories not responding' even though it also reports occupancy and temperature of the room correctly.

I d

[2017-01-13 14:30] vojtamolda commented on #12
Hello everyone,

thanks for the comments here and I apologize for the problems. I never thought there would be real people actually using this code :smiley: Even less I hoped the people would care enough to open an issue...

As @mrose17 wrote the de-authorization is certainly not-intended and shouldn't happen. However, when I do development I sometimes get de-authorized too. It's typically caused

[2017-01-13 15:43] vojtamolda commented on #15
Hello @apexad,

thanks for opening the issue. I've noticed this problem too and it seems to be happening to other people as well. Good thing is that besides the non-resposive message everything seems to be working fine and actually responding.

Temporary fix is to exclude the problematic accessories from the status. Access the details of the accessory and then click _Status and Notifications_ and

[2017-01-13 18:29] mrose17 commented on #12
i think the issue is related to the interrupted authentication request-response. i don't think i've seen it happen when i didn't have a homebridge crash occur.

[2017-01-14 06:02] apexad commented on #15
Thanks for responding. However, just so you know this plugin has actually become obsolete.

http://9to5mac.com/2017/01/12/ecobee-remote-sensors-homekit/

I have requested my thermostat get updated and all the sensors are showing up now. It seems that this plugin now only be needed for those with earlier non-HomeKit ecobee3 thermostats.

Anyway though, the don't include in status thing is a great f

[2017-01-14 06:04] vojtamolda commented on #15
Cool! That's great news. This was plugin was meant as only a temprary fix anyway... 😃

[2017-01-14 06:09] apexad commented on #15
Yeah, it's great! I definitely recommend that you go in and contact ecobee support to update your Thermostat.

By the way, thanks for your work on this plugin. It gave me access to my sensors about a week early and was indeed a great temporary fix. Don't stop working on it. As I said, it will probably still be useful to those with earlier non-HomeKit thermostats.

[2017-01-14 06:23] vojtamolda commented on #11
Siri can be weird sometimes, but occupancy seems to be working for me.

![siri-occupancy](https://cloud.githubusercontent.com/assets/8467740/21952930/5bfad13a-d9ef-11e6-9619-f4fd1c0a03be.png)

[2017-01-14 17:08] #11 closed, assigned to vojtamolda

[2017-01-15 02:16] tekuonline opened #16 "Add exclude remote sensors option to config file"
With the recent Firmware Version 3.7.0.969 from Ecobee, sensors (Temperature and Occupancy) are exposed to homekit automatically. Only Humidity sensor is not enabled from Ecobee, which this plugin does. It would be great if we have a config option called ```humidity_only: true```, which would disable the temperature and occupancy through this plugin and enable humidity.

[2017-01-16 02:28] vojtamolda commented on #15
I'll reopen this issue. I think the non-responsiveness should be fixed anyway.

Per discussion in #16, the new Ecobee update 9.7.969 doesn't expose measurements from the thermostat unit. It only reports the remote sensors to HomeKit, so this plugin still makes sense for some people.

[2017-01-16 02:37] vojtamolda commented on #16
Hello @tekuonline,

Thanks for the idea. I think it's really good. My Ecobee just got the update and hopefully this plugin will soon become obsolete :)

Maybe I overlooked something, but compared to this plugin, I'm not getting get any values from the thermostat itself. None of occupancy/temperature/humidity values from the main unit are reported to HomeKit. You can see these?

I know Ecobee repor

[2017-01-16 02:37] #13 closed, assigned to senorshaun

[2017-01-16 04:05] vojtamolda commented on #16
I just added a new option `exclude_sensors` in the `config.json` file.

@tekuonline if you have a moment, can you try it out and let me know if it solves the problem of duplicated sensors for you? Just get the latest `0.1.3` release from `npm`.

[2017-01-16 04:05] #16 closed, assigned to vojtamolda

[2017-02-17 04:01] AppleTechy opened #17 "Plugin crashes with empty/non-existent config file"
I tried running Homebridge without a config but it appears there is some issue with the plugin since it can't even get past loading the plugin.  I would appreciate fixing this fast, due to it totally having shut down my Homebridge.

[code]

[2017-02-17 04:17] vojtamolda commented on #17
Hello @AppleTechy,

Sorry for the trouble. There's a couple of new config options added in version `0.1.3` and I guess that's what's causing the trouble. Adding a few lines to the `config.json` in the same fashion as below should resolve your issue:
[code]

[2017-02-18 01:28] AppleTechy commented on #17
Hello. I had been trying this without a config.json in place. So I wasn't even trying to initiate the plugin.
Any ideas are you on Slack?

[2017-02-18 01:37] vojtamolda commented on #17
I don't think this plugin will work without the `config.json` file. I've never tested it like that. Why are you running Homebridge like this? Maybe I'm missing something.

I have Slack, but I don't use it much...

[2017-02-18 04:10] AppleTechy commented on #17
I was running it without a config.json to test if it was a problem with how my config.json was setup. Which it clearly isn't due to the plugin failing when it loads not when it tries to initiate the plugin. It is possible to run it this way. Even when using the example config you give in the plugin, I still get the error. I am on node 7.5.0 but also had issues when i tried running it on node 6.9.5

[2017-02-19 15:00] vojtamolda commented on #17
So... I checked it and the plugin really fails to start without `config.json` present in `~/.homebridge/` directory. I'll fix it as sson as I can and release a new version.

In the meantime adding the `"Ecobee"` section from my previous comment should fix the problem. The current implementation needs this section to initialize correctly.

[2017-02-19 15:09] vojtamolda commented on #12
Since people are no longer complaining, I assume the causes of the de-authorization were explained in my previous comment and I'm closing this bug. Or maybe this was one of the rare occasions where things magically fixed themselves 😃

Please feel free to re-open if the problems persist.

[2017-02-19 15:09] #12 closed, assigned to vojtamolda

[2017-02-19 23:11] AppleTechy commented on #17
I added the ecobee section but it is still throughing the error. When I edited the `platform.js` file and removed `config.excude_sensors`, and just made the value false along with `config.exclude_thermostats` to false, I was able to get _Homebridge_ up and running. But after it displayed the pin I needed to add to my account, it immediately crashed almost as if how you set maybe a var might be cau

[2017-02-20 14:17] vojtamolda commented on #17
Hi @AppleTechy,

Your fix is a good, idea, but as you write it breaks things a little bit further down the road. It won't work when the plugin actually tries to access the `config.exclude_thermostat` value which will be undefined (or `null`). Primary reason why the whole thing crashes is that `config` variable passed into the plugin constructor from _Homebridge_ is `null` in cases where the `confi

[2017-02-22 23:32] AppleTechy commented on #17
Where you able to take a look at it and fix the node 6+ compatibility?

[2017-02-23 14:23] vojtamolda commented on #17
Not yet... Please, bear with me.

[2017-02-24 03:35] vojtamolda commented on #15
This is still an open and ongoing issue. I tried to find out what's happening but no luck today... 😞

[2017-02-24 03:35] vojtamolda commented on #17
Fixed in version `0.1.4`

[2017-02-24 03:35] #17 closed, assigned to vojtamolda

[2017-02-25 00:59] AppleTechy commented on #7
I am still very interested into seeing this become reality. Definitely willing to spend time trying to test it and sending you the error code it gives if it doesn't work.

[2017-03-08 18:00] macjeff opened #18 "Keeps asking for app registration"
I run home bridge.   I get code and enter into ecobee.   It creates app.   All works fine.

I have to reboot system or update so I stop home bridge

I start it back up and it asks me to register again.  Is there no way to have it remember the registration???

thanks,

Jeff

[2017-03-13 15:39] vojtamolda commented on #18
Duplicate of #12. Unfortunately, there's not much I can do about this at the moment.

[2017-03-13 15:39] #18 closed, assigned to nobody

[2017-05-21 01:52] djrobx commented on #7
I have the official Ecobee3 with HomeKit support but I would still like to see this developed, as its built in support is extremely unreliable, and Ecobee is of no help whatsoever.

[2017-05-22 13:06] vojtamolda commented on #7
I don't have any problems with my _Ecobee3_ or _HomeKit_, but thanks for posting a comment here, @djrobx.

[2017-05-25 01:40] macjeff opened #19 "Ecobee 4 Support"
Got an Ecobee 4 and it says Not Supported.   Its basically a 3 with alexa built in

[2017-05-25 20:25] vojtamolda commented on #19
Hello @macjeff,

Thanks for opening the issue. I don't have an _Ecobee 4_ to test it myself, but if it's 3 with some new features it should be fairly straightforward to add support for it.

Can you try running _Homebridge_ in debug mode and posting the log here, please? Like this:
[code]

[2017-06-06 01:48] macjeff commented on #19
sorry for the delay.   Here is my log

I replaced some tokens with xxxx
[code]

[2017-06-06 14:13] vojtamolda commented on #19
Thanks for the logs, @macjeff, this is exactly what I needed!

There's a new new branch `ecobee4` with a change that adds support for the 4 (361bd8707d9e265bd6320aa28c505b0615030aa0). Can you try if it works?

[2017-06-06 14:16] macjeff commented on #19
Tonight I will. Do I have to go line by line and add and delete lines of code or can I actually run a command to update to that version.

[2017-06-06 14:20] vojtamolda commented on #19
The fastest way is to copy and paste the change. It's only one line in `source/platform.js:226`:

[code]

[2017-06-06 14:27] macjeff commented on #19
If you want to get into my system I would help if we talk offline.

I have three units.   Ecobee 2, 3, and 4.   Ecobee 2 not supported either but The amazon Alexa supports it with their skill so it should be doable.

I also have about 12 sensors split between the ecobee 3 and 4.

[2017-06-07 02:38] macjeff commented on #19
Maybe I did something wrong but I just updated the platforms.js file in the Source folder and then tried it again.  I even tried deleting the cached accessaries folder.

Same thing  Unsupported thermostat for both the ecobee 4 and ecobee 2

[2017-06-07 12:43] vojtamolda commented on #19
Thanks for taking a look at it, @macjeff. It's really a shame. If you have the right version of the file I'm not exactly sure why this is happening and to be honest at the moment I don't have time to work on it.

Just out of curiosity, what do you use this plugin for? One of the recent updates of the _Ecobee 3_ exposed the sensors into _HomeKit_ in the same way this plugin does. I'm assuming 4 is

[2017-06-07 13:02] macjeff commented on #19
I use it because they have a 6 sensor limit for Siri.  I think the first 6.   Plus their integration is terrible.   Works sometimes and sometimes does not.

Would access to my system help?

I literally opened the platform.js file and deleted all.  I selected all in the raw code for the branch you posted and pasted.   That way I should have every change even if you had just one.  Correct?

Sent fro

[2017-06-07 14:19] vojtamolda commented on #19
Oh... That's interesting. I didn't know about the 6 sensor limit. Their integration works perfectly for me. I would expect my code to be more broken :smile:

Correct. The way to tell the right version of `source/platform.js` is that it contains an `"apolloSmart"` string. Guaranteed way to get the right files is to make `npm` install directly from the branch:
[code]

Thanks for the offer access off

[2017-06-07 14:55] macjeff commented on #19
I called them because things were not working with home kit.  Even the main sensor was not showing up

They looked at my account and said I am over the sensor limit.  So they had me remove a few and it worked.

Thats why I got the Ecobee4.  I split the sensors up now rather than put them all on one unit.

But tried it again and no luck.   I guess I will just give up on this for now.

[2017-06-07 14:57] #19 closed, assigned to vojtamolda

[2017-06-08 01:07] bradleyrawleigh opened #20 "Convert to Fahrenheit instead of Celsius"
how can i change the read out of this info to F instead of C?

found some references to it in the code but unfamiliar with how to change it to read Fahrenheit stats.

THANKS for any assistance!

[2017-06-08 12:40] vojtamolda commented on #20
Hello @bradleyrawleigh,

If you search the settings of your _Ecobee_ you'll find it somewhere over there. Internally all the data exchange happens in C and is converted to F only at the very end for displaying. _Ecobee_ is a Canadian company :smile:

[2017-06-08 12:40] #20 closed, assigned to nobody

[2017-06-08 21:52] bradleyrawleigh commented on #20
Hello @vojtamolda

Thank You, but unfortunately my ecobee displays all information in F, wether through the iOS App, or the thermostat. Everything is in F, the only thing that shows C, is the devices now visible in the HOME App because of this plugin, i can attach screenshots if that helps any? there are no settings set to C on anything i have with ecobee, even the web portal. though in the code f

[2017-06-09 01:47] vojtamolda commented on #20
Sorry @bradleyrawleigh, I can't really reopen since this is a problem with your _Ecobee_ or _iOS_ settings and not with this project. I hope you'll understand. I have a limited amount of free time and I can't solve everythig for everyone. Try contacting support. From my own experience I can tell that their answers are pretty quick.

Also make sure you have both the in-app and iOS setting configure

[2017-07-13 01:30] stromparsons commented on #7
I'd love to see this developed. Been watching for a plugin for homebridge for older ecobees for a while. Would really complete my HomeKit set up to get the ecobee working with everything else. I jumped on the home automation bandwagon early and have managed to get all my other non HomeKit stuff working through homebridge with the exception of the ecobee. Hope more people find this page an up vote.

[2017-07-13 14:03] vojtamolda commented on #7
Hello @stromparsons,
Thanks for your comment. If you know of anyone else, please, convince them to upvote this issue. At the moment, I'm not sure if there's big enough demand.

[2017-09-28 04:44] sumpy commented on #7
The last post was from a number of months ago, but I would like to add my upvote to get Homebridge support for the early ecobee3 .. and Im sure there are plenty of others out there if they only knew there was such an option.. Hopefully there's a chance this could happen

[2017-11-08 02:14] Chiragbrains opened #22 "Adding Ecobee to HomeKit crashes the Homebridge server"
[code]

[2017-11-08 14:57] vojtamolda commented on #22
Hello @Chiragbrains,

Thanks for opening the issue here and I apologize for your problems. I'll try to fix it as soon as possible. At the moment I'm having trouble reproducing the crash and the issue seems serious enough to be easily overlooked in any earlier release.

Can you, please, try to run _Homebridge_ server in debug mode (`homebridge -D`) and re-post the log here? Also what plugin version

[2017-11-08 23:47] Chiragbrains commented on #22
This is what I see when I do `homebridge -D`
As soon as I add the homebridge to HomeKit, it crashes saying:
[code]

<details>
<summary>Homebridge Debug Log</summary>

[code]
</details>

[2017-11-09 13:57] Chiragbrains commented on #22
I sent you my Debug mode. BTW, I am trying to get Motion Sensing to increase or decrease the temp when it detects motion and when it does not detect motion, and it does not seem to work. Do you know if I can do this?

Thanks,
Chirag 

[2017-11-09 14:25] vojtamolda commented on #22
Thanks for the logs. I think I've got an idea what could be a problem now. What version of _Homebridge_ and the _homebridge-ecobee3-plugin_ are you using?

[2017-11-09 15:50] Chiragbrains commented on #22
Homebridge: 0.4.3
homebridge-ecobee3-plugin: 0.1.4

[2017-11-09 16:13] vojtamolda commented on #22
Thanks. I'll get the exact same versions and get back here with my findings.

[2017-11-11 22:13] vojtamolda commented on #22
The problem is fixed. You can either get the latest version of this plugin (0.1.5) or _Homebridge_ server (>0.4.11) and the crash shouldn't be happening.

[2017-11-11 22:13] #22 closed, assigned to vojtamolda

[2017-11-12 20:32] Chiragbrains commented on #22
Thanks

Sent from my iPhone

[2017-11-14 06:32] apexad opened #23 "Expose only Humidity sensors to HomeKit"
So, I would really like my house humidity to show up as a sensor, can you help me with the configuration I would need in config.json for this? Otherwise, I don’t want to add anything else.

[2017-11-14 14:36] vojtamolda commented on #23
Hello @apexad,

Currently there's no way to display only the humidity value, but you can get pretty close. Only the thermostat itself with it's temperature, humidity and controls can be made visible. If you don't assign the sensors that you don't want to see to any room you'll only encounter them in the "Default Room" in the _Home_ app and nowhere else.

This is the critical section from the [`con

[2017-11-14 14:36] #23 closed, assigned to vojtamolda

[2017-11-30 04:25] i2023u commented on #19
Can you update the version for ecobee4 ? I'm using docker and it's keeping overwiting 0.1.5 version so I cannot use.

[2017-11-30 04:27] macjeff commented on #19
I asked this before and was told ecobee 4 supports HomeKit as does ecobee 3 so this is basically a discontinued plugin.

Jeff

Sent from my iPhone

[2017-11-30 15:14] vojtamolda commented on #19
Hello @i2023u,

As @macjeff wrote this plugin was relevant for about a year long period where _Ecobees_ didn't ship with HomeKit support for the wireless sensors. Then they released an update that enabled it.

There's still some things this plugin can do but the "stock" _Ecobee_ can't, but that's a tiny corner case. What would you like to do with the plugin?

[2017-11-30 16:02] i2023u commented on #19
Oh, that's why it crashed when it's adding remote sensors.
I'm trying to implement Machine learning algorithm like nest
so that based on inside/outside temperatures and /regular/overridden
schedules,
it can control the temperature automatically and save energy.
I think these plugin is still interesting for development in AI fields.
especially I have a v2 raspberry pi which I don't use anymore.
 I

[2017-11-30 16:15] vojtamolda commented on #19
In that case this plugin isn't what you're looking for anyway. Check out the _Ecobee_ API: https://www.ecobee.com/home/developer/api/introduction/index.shtml You can get all you need to feed your machine learning algorithms.

This plugin is essentially a wrapper that maps the _Ecobee_ API onto Apple's _HomeKit_ API.

[2017-11-30 16:21] i2023u commented on #19
I was looking at it too. Thank you for confirming.

[2017-12-13 03:11] jeffreyjue1 commented on #7
I wouldn't mind see this happen with my older Ecobee3.

[2017-12-18 02:00] pingje commented on #7
I love seeing my ecobee sensors, I'd be happy to help test support for the older ecobee3.

[2018-01-02 12:11] ToddGreenfield opened #24 "Esp8266 and bme280?"
Related but not specifically- Has anyone created their own ecobee sensors using an Esp8266 and bme280 that somehow integrates with ecobee? I did a quick (really quick) google and didn’t see anything.

[2018-01-02 23:49] jeffreyjue1 commented on #15
Recently, my HomeKit setup blew up when I removed some devices from my ISY-994i and forgot to restart Homebridge for HomeKit to get the latest from the hub.  However, I noticed in the process that the Ecobee plug-in shows "No Response" when only the AppleTV4 is the hub, but this issue goes away when I activate my iPad Air as a 2nd hub.  I did this while trying to debug why a temperature automation

[2018-01-03 17:02] vojtamolda commented on #24
Try not so quick google search for _Homebridge_ plugins for ESP8266 and you might be more lucky. Also, I’m not sure how exactly do you want to integrate ESP8266 and BME260 with Ecobee.

[2018-01-03 17:02] #24 closed, assigned to nobody

[2018-01-03 17:04] vojtamolda commented on #15
Interesting piece of information, thanks @jeffreyjue1

[2018-01-03 17:17] ToddGreenfield commented on #24
Thanks. I am already using homebridge-mcuoit (esp8266) and homebridge-bme280 (RPIz) and those work well for stand-alone temp/humidity sensors. What I was asking and searching for was if anyone has figured a way to integrate something like that with the Ecobee thermostats - so instead of shelling out $80 for two additional Ecobee sensors I would prefer to create some using <$10 worth of parts (ESP0

[2018-01-03 17:40] vojtamolda commented on #24
Pull request is welcome ;)

[2018-03-29 23:39] cameronpcook commented on #7
+1 and if there was a way to throw some $ your way Id be happy to

[2018-04-02 19:52] stromparsons commented on #7
I found a workaround for this in case anyone is interested.  By running home assistant on a pi with the home bridge plug in, one can gain control of an older ecobee through HomeKit.

[2018-04-02 20:02] vojtamolda commented on #7
Thanks @stromparsons! Since there's a workaround I'm closing the issue now.

[2018-04-02 20:02] #7 closed, assigned to nobody

[2018-07-17 20:38] thatvirtualboy opened #25 "Carrier Cor? TP-WEM01"
From what I've read, the Carrier Cor (corSmart) is essentially a rebranded Ecobee. I was able to get this plugin installed on Homebridge, successfully add the authorization code in my "Apps" on the Cor login page (everything is basically the same as ecobee).. but when launching homebridge, I get
`Not supported thermostat | My home (corSmart`

I don't have sensors, just trying to get the Cor setup

[2018-07-18 01:50] vojtamolda commented on #25
Hello @thatvirtualboy,

I think if the plugin managed to run all the way to this error message, there's a decent chance that you might get it working, but as usual you're on your own there.

Good place where to start hacking is the thermostat model check in [`platform.js:232`](https://github.com/vojtamolda/homebridge-ecobee3-sensors/blob/2f46bfdc172a8abc6e949c447ffed3420977b382/source/platform.js#

[2018-07-18 03:48] thatvirtualboy commented on #25
Thanks for the tip! Will play around

[2018-07-18 16:29] thatvirtualboy commented on #25
I changed line 231 to read
`if (thermostatConfig.modelNumber != 'corSmart') {`
and it appears we make progress, but on my homekit app in iOS it shows homebridge as "No Response" (it was working previously, so I'm guessing it's something in the config?)

$ homebridge
[7/18/2018, 4:25:06 PM] Loaded config.json with 1 accessories and 1 platforms.
[7/18/2018, 4:25:06 PM] ---
[7/18/2018, 4:25:06 PM] Lo

[2018-07-18 17:07] thatvirtualboy commented on #25
In further testing, something in the HB config for this plugin is causing Homekit to not connect to HB. I removed the documented data from config.json (so it was as before with just my garage door data), cleared accessories and persist folder, and HB was able to be added to Homekit again.

[2018-07-18 17:51] thatvirtualboy commented on #25
Ok I've narrowed it down some. As soon as I add the App to my Cor's App page (by authorizing it with the code given when starting HB) it fails, and HB stops responding.
Strange, since it seems to be talking with the thermostat and printing the temperature.. but then as soon a I add the app HB fails.

[2018-07-18 18:30] thatvirtualboy commented on #25
I believe it has something to do with the sensors. Since all I have is the thermostat, it causes HB to fail, and/or cause Homekit to not want to connect to HB.. like it fails once it sees it has devices to configure (sensors) that it can't. I've set all the exclusions in config.json to true, except for thermostat temp but same behavior.

[2018-07-18 23:39] thatvirtualboy commented on #25
If I add homebridge before authorizing the app at the Cor's webpage, HB gets added, but says
_Additional Setup Required
Add related accessories with "Homebridge"in the manufacturer's app._

[2018-07-18 23:53] thatvirtualboy commented on #25
Well that's my journey so far. We're so close! If I can provide any logs or information to help troubleshoot, please let me know! @vojtamolda

[2018-07-20 15:31] vojtamolda commented on #25
It looks like a fun project and I'd love to take a look, @thatvirtualboy, but I'm not sure when I'll be able to find the time to do it, so I can't promise anything.

[2018-07-24 15:10] thatvirtualboy commented on #25
That you'd find this comical.. I opened an unrelated support case with Carrier regarding the Cor and the support tech's email and sig was plastered with "ecobee Support"

[2018-10-05 19:18] LaChrome commented on #22
@vojtamolda - It seems this issue is happening again with the latest version of Homebridge 0.4.45

I now get the same crash: “callback is not a function”

[2019-02-14 18:28] dbknightx commented on #25
@vojtamolda

I realize this is an old "issue", but I've just started experimenting with HomeBridge and have a Carrier TP-WEM01 just like the one discussed in this thread.  I may have gotten further than @thatvirtualboy.  I've attached a debug log snippet below that shows the activity when a refresh is requested once every 30 seconds:

[carrier cor.log](https://github.com/vojtamolda/homebridge-ecob

[2019-02-14 18:33] dbknightx commented on #25
Here is what the accessory looks like in homebridge-config-ui:
![Homebridge Config UI accessory](https://user-images.githubusercontent.com/38469092/52808847-e5adae00-305c-11e9-9972-7ca6a7fcd380.png)

And here is the accessory detail:
![Accessory Detail](https://user-images.githubusercontent.com/38469092/52808898-02e27c80-305d-11e9-9ac8-9fa3f3941e31.png)

[2019-04-23 02:01] thatvirtualboy commented on #25
That’s awesome you were able to get the temp sensor added in. Definitely a step in the right direction! Thanks for sharing. Unfortunately I’ve abandoned my attempt.

[2019-10-28 05:17] #15 closed, assigned to vojtamolda

[2019-11-21 21:27] dmitrysergeev commented on #7
@stromparsons can you provide a link to the plugin for SmartSi thermostat?

[2021-01-18 01:29] fratinize opened #26 "Support for Ecobee4"
Is Anybody Supporting this? Can We Add Ecobee4? Thanx

[2021-01-18 03:00] vojtamolda commented on #26
Hello @fratinize !

Nope. Nobody actively supports it. The repos is my hobby open source project. I don't plan to work on adding support for Ecobee 4.

I'll be happy to merge your PR, though. From what I know you shouldn't need to change many things. Ecobee 4 only added support for voice commands and the API is identical.

[2021-01-18 11:26] fratinize commented on #26
Ty for the quick response
I did read through the enhancement issue from virtualboy
Found the line 231 replaced the athenaSmart with the apolloSmart
But now hb won’t start.
Forgive my noobness first time digging this deep
in my logs I see several lines mentioned? Am I to understand I need to check those lines and correct them?
I am not really sure how to go about a PR and how it’s different then ch

[2021-01-18 19:15] fratinize commented on #19
FYI This Worked for Me TY
Funny Note, In the Logs The Temp is Shown as Celsius, But in The Home App it Shows Fahrenheit. Works for me.

[2021-01-19 02:27] vojtamolda commented on #26
No worries about noobness :) Everyone was a noob before. Without realizing it I actually meant that the changes would be easy for a developer. I'm not sure what software development experience you have and what's your background. There may be some learning involved in order to get the support for Ecobee 4 implemented.

I'm a quite curious about why do you need this plugin. It was developed in earl

[2021-01-19 05:46] evanhfox commented on #7
@stromparsons What workaround was this? I don't see an ecobee SmartSI compatible plugin from the homebridge library that will allow a SmartSI (in my case) thermostat to be added to Homekit.

[2021-01-19 19:46] fratinize commented on #26
Honestly Not Sure why I went down this road. I had Just added 2 New Sensors to my Ecobee and Did not see them Right away in Home Kit. Didn’t Really Think the Whole Thing out When I raised the Flag. Basically failed to do proper research :(

I was abe to Add the 4 using the addition of the apolloSmart to the Platform.js That was Educational. :)

Sorry about that

Thank You for the Tips Though.

Reg

[2021-01-19 21:58] vojtamolda commented on #26
No worries. I'm glad it all worked out!

[2021-01-19 21:58] #26 closed, assigned to nobody

[2021-01-21 00:26] mozilla33 commented on #19
I made this change to the source code a few weeks ago and it didn't do anything, but I just noticed today that it was working!

[2021-01-21 22:37] thesquaremedia opened #27 "Ecobee 3 lite and latest smart sensors setup. not supported thermostat log"
I am getting this in the logs. Using the readme default config JSON object.

[code]

[2021-01-21 22:40] thesquaremedia commented on #27
---hmm I tested changing. this ` "exclude_thermostat": true` I guess is complaining about the actual Ecobee 3 lite thermostat. logs went away. I kind of mostly care about the smart sensors but if I could get the thermostat sensors to work that be cool to.---

Nah, it still happening. do I have to authorize the app on Ecobee site overtime I restart home bridge?

NVM, im a dummy I think the new ones

[2021-01-22 01:34] #27 closed, assigned to nobody

[2021-02-13 14:22] rhdny opened #28 "Support for exposing humidity in newer Ecobee thermostats"
For some reason ecobee does not expose humidity separately in HomeKit as it does temperature, motion, and occupancy.

This prevents the Home app UI from displaying the humidity under the temperature.

This very useful homebridge plugin resolves that for my older thermostats but not my newer ones.

Is it possible to add support for the newer thermostats if even just for humidity (which I believe is

[2021-02-14 23:53] rhdny commented on #28
I was able to resolve by adding the other device names, nikeSmart and apolloSmart to the thermostat validation condition.

[2021-02-14 23:53] #28 closed, assigned to nobody

[2021-02-15 19:59] vojtamolda commented on #28
Nice, @rhdny I'm glad you helped yourself. I'll be happy to accept a PR with your improvements.

[2021-02-16 04:12] rhdny commented on #28
Done! Proposed an update frequency setting as well...

[2021-04-12 18:30] thecheatah opened #30 "Add support for `vulcanSmart` type"
I have the latest Ecobee and needed to add the `vulcanSmart` model to get it to work

Added the following to platform.js
[code]

[2021-04-12 20:04] vojtamolda commented on #30
Hello @thecheatah,

Thanks a lot for sharing your patch. The change looks great. Could you, please, submit it as a pull-request here?

Thanks and have a good one!

  Vojta

[2021-04-12 20:53] thecheatah commented on #30
@vojtamolda added pull request here: https://github.com/vojtamolda/homebridge-ecobee3-sensors/pull/31

[2021-04-13 02:12] vojtamolda commented on #30
Thanks for the PR! I have just published [version 0.1.7 to NPM](https://www.npmjs.com/package/homebridge-ecobee3-sensors).

[2021-04-13 02:12] #30 closed, assigned to thecheatah

[2021-04-20 21:13] tbelcher opened #32 "Unexpected token e in JSON causing crash"
Running homebridge on Raspberry Pi.  The Ecobee sensor plugin had been working properly up until a few days ago, and now with it in my config, Homeridge crashes with this error:
SyntaxError: Unexpected token e in JSON at position 0
Apr 20 14:00:45 raspberrypi homebridge[25375]:     at JSON.parse (<anonymous>)
Apr 20 14:00:45 raspberrypi homebridge[25375]:     at EcobeePlatform.<anonymous> (/usr/lo

[2021-04-21 18:49] vojtamolda commented on #32
Hello Tim,

It's hard for me to say what's going on just from the stack trace. My best guess is that you have a typo in your `config.json` file. Good luck with figuring it out!

  Vojta

[2021-04-21 18:49] #32 closed, assigned to nobody

[2021-05-03 21:48] Chew opened #33 "Q: Messing with sensors make them disappear from Home"
Not sure how to diagnose.

If I move a sensor to a different room or use them in automation, they disappear from my Home app. Everything else stays, and it even stays in the Homebridge Config UI, yet they don't appear in my Home app again until I reboot the server.

Do you have any suggestions for how I can go about resolving this?

[2021-05-04 02:30] Chew commented on #33
It looks like the cause was the Thermostat was in a different "Home". We deleted the home and it was able to work successfully. Now the issue is we can't add the thermostat via the HomeKit section of the app. It tries to connect but it never adds. Is it taking revenge?

[2021-05-04 14:44] vojtamolda commented on #33
Hello Olivia,

I used to have my doubts about thermostats taking revenge. But who knows with advanced AIs these days. Ours is all the time too or too cold so I'm starting to suspect something...

Anyway, I'd like to know why do you actually need and use this plugin. I was under the impression that it was relevant for about a year before Ecobee released an update which published all the room temper

[2021-05-04 16:05] Chew commented on #33
I couldn't figure out how to add sensors through the ecobee app. The thermostat is there as in the readme, but my choices are limited when it comes to sensors.

[2021-05-04 16:46] vojtamolda commented on #33
Hm... That's strange as far as my understanding of things goes. I'm probably playing role of ecobee support here, but my Home app on the iPhone shows all the sensors (6 or so) connected to the thermostat. And I can assign them to their respective rooms and they then thay also report occupancy.

I googled around a bit and it shows the same way on ecobee's [website](https://www.ecobee.com/homekit/)

[2021-05-04 18:08] Chew commented on #33
That is interesting. We currently have ecobee3 (I'm not entirely sure they make these anymore? We don't have the lite) with version 4.6.33.118. I can't find any way to update manually nor any way to disable it.

[2021-05-04 18:12] vojtamolda commented on #33
Well. I have the same version and also ecobee3. I think they make ecobee4 now which is ecobee3 + voice control. So that shouldn't be an issue.

[2021-05-14 12:18] nj4dummies opened #34 "Authorization Code Missing"
After installing the plugin, I am never able to see a pin that I can enter on the ecobee site to authorize homebridge.

[2021-12-12 13:02] farberm opened #35 "Error on install"
I am getting the following error after instalation..

[12/12/2021, 8:01:27 AM] ====================
[12/12/2021, 8:01:27 AM] ERROR INITIALIZING PLUGIN homebridge-ecobee3-sensors:
[12/12/2021, 8:01:27 AM] Error [ERR_REQUIRE_ESM]: require() of ES Module /usr/lib/node_modules/homebridge-ecobee3-sensors/node_modules/chalk/source/index.js from /usr/lib/node_modules/homebridge-ecobee3-sensors/source/sen

[2021-12-20 23:28] jkalamarz commented on #35
I'm getting the same:
Node.js v16.13.1
Homebridge v1.3.8

[12/20/2021, 3:24:09 PM] Loaded plugin: homebridge-ecobee3-sensors@0.1.7
Homebridge API version: 2.7
[12/20/2021, 3:24:09 PM] ====================
[12/20/2021, 3:24:09 PM] ERROR INITIALIZING PLUGIN homebridge-ecobee3-sensors:
[12/20/2021, 3:24:09 PM] Error [ERR_REQUIRE_ESM]: require() of ES Module /usr/lib/node_modules/homebridge-ecobee3-se

[2021-12-21 19:32] farberm commented on #35
Need to edit line 21 of the package.json file to "chalk": "=1.1.1"

[2021-12-21 20:40] jkalamarz commented on #35
Thanks. Forcing chalk version helped:
`npm install -g homebridge-ecobee3-sensors chalk@1.1.1`

PR sent. I have not really tested it, but should work

[2021-12-22 20:25] vojtamolda commented on #35
Fixed by #36. Thanks, @jkalamarz

[2021-12-22 20:25] #35 closed, assigned to nobody

[2021-12-22 20:25] #34 closed, assigned to nobody

[2022-01-02 10:16] jmnovak50 opened #37 "Error on plugin Startup"
Hi,

I'm wondering if you can help with the follow issue?

[1/2/2022, 4:06:50 AM] ERROR INITIALIZING PLUGIN homebridge-ecobee3-sensors:
[1/2/2022, 4:06:50 AM] Error [ERR_REQUIRE_ESM]: require() of ES Module /usr/lib/node_modules/homebridge-ecobee3-sensors/node_modules/chalk/source/index.js from /usr/lib/node_modules/homebridge-ecobee3-sensors/source/sensor.js not supported.
Instead change the requ

[2022-01-03 23:14] canerdianeh commented on #37
Same here.

[2022-01-04 00:04] canerdianeh commented on #37
When I change the require to an import, it loads up, but when discovering sensors, it throws the following error. This causes homebridge to restart, and the ecobee sensors plugin generates a new auth code.

`TypeError: Chalk.blue is not a function
    at new EcobeeSensor (/usr/local/lib/node_modules/homebridge-ecobee3-sensors/source/sensor.js:18:23)
    at EcobeePlatform.sensors (/usr/local/lib/no

[2022-01-04 00:42] vojtamolda commented on #37
Hello @canerdianeh and @jmnovak50,

Thanks for reporting the issue. Unfortunately, I don't have bandwidth to look into it right now. But I'll be happy to merge a pull request when you figure out what's causing the problem.

[2022-01-07 17:55] ghost commented on #37
Publishing [this commit](https://github.com/vojtamolda/homebridge-ecobee3-sensors/commit/d5664a0d6bcaaba1609d0cb4171c92c7a18a05c2) should take care of this issue.

[2022-01-08 22:08] vojtamolda commented on #37
Ooops... Yeah. Version 0.1.8 is [out](https://www.npmjs.com/package/homebridge-ecobee3-sensors).

[2022-01-08 22:08] #37 closed, assigned to canerdianeh, jmnovak50

[2022-01-08 22:46] canerdianeh commented on #37
It's working now, but requires reauthorization every time homebridge restarts, which is suboptimal.

[2022-01-20 21:36] mosleyh opened #38 "Show sensors in homekit"
Got the plugin set up and running in HomeBridge. In homekit the sensors show in automations but not as accessories. Any idea what I missed?

[2022-05-20 14:51] gitBrave-hub opened #39 "Add support for EcoBee premium thermostat model "aresSmart""
Ecobee has a new thermostat with air quality sensor.  It would be great if homebridge-ecobee3-sensors supported the new [model ](https://www.ecobee.com/en-us/smart-thermostats/smart-thermostat-premium/) .  Thanks

[2022-05-23 00:39] vojtamolda commented on #39
That would indeed be nice. However, I'm not sure what would be the benefit since this model supports HomeKit natively and also exposes all of the sensors there.

[2022-05-23 00:39] vojtamolda commented on #39
Though, feel free to make a PR, @gitBrave-hub I'll be happy to merge it.

[2022-05-25 22:17] gitBrave-hub commented on #39
To be sure, it does not expose all of the sensors, that is why I use this.  It does not natively expose the humidity sensor on the thermostat.  And the temperature on the thermostat is indirectly exposed.  And now, Ecobee does not expose the VOC and CO2 sensor data.  I am unfamiliar with this coding environment, perhaps I will try locally and if I have success, I will make a PR.  Thanks

[2022-05-29 17:20] vojtamolda commented on #39
Makes sense. Thanks for the explanation!

[2022-05-29 17:22] vojtamolda commented on #38
That is very strange. Maybe you assigned it to a wrong room?

[2022-06-21 16:50] ablyler commented on #39
I have created a PR to add support for the new thermostat. It does not add support for any of the new sensors. https://github.com/vojtamolda/homebridge-ecobee3-sensors/pull/40

[2022-06-24 19:42] #39 closed, assigned to gitBrave-hub

[2022-06-24 20:17] vojtamolda commented on #39
The patch is available since version [`0.1.9`](https://www.npmjs.com/package/homebridge-ecobee3-sensors/v/0.1.9) on NPM.

[2022-11-27 16:27] danhausman opened #41 "Add support for newer sensors"
Would it be possible to add support for newer sensors?
[11/27/2022, 11:20:17 AM] [Ecobee 3 Sensors] [My ecobee] Not-supported measurement type | airQualityAccuracy
[11/27/2022, 11:20:17 AM] [Ecobee 3 Sensors] [My ecobee] Not-supported measurement type | airQuality
[11/27/2022, 11:20:17 AM] [Ecobee 3 Sensors] [My ecobee] Not-supported measurement type | vocPPM
[11/27/2022, 11:20:17 AM] [Ecobee 3 Se

[2022-11-27 22:43] vojtamolda commented on #41
Yeah. Support for these would certainly be nice. I'm sorry but I don't have the bandwidth to implement these right now. But I'll be happy to merge a PR!